@import '../../assets/scss/variables-mixins.scss';

.board__wrapper {
    position: relative;
    $multy: 10 !global;
    width: 100%;
    height: 100%;
    touch-action: none;
    box-sizing: border-box;

    .board__body {
        min-width: $board-min-width / 2;
        min-height: $board-min-width / 2;
        @include board-size();
        max-height: $max-board-size;
        max-width: $max-board-size;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
        border: 1px solid black;
        box-sizing: border-box;
        box-shadow: -1px -1px 5px 2px rgba(0, 0, 0, .3);
        @media (max-aspect-ratio: 13/10) {
            box-shadow: unset;
        }
    }
    &.h10v10 {
        .pieces-box {
            @include cell-width(10);
        }
        .board__body {
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: repeat(10, 1fr);
        }
    }
    .board__cell {
        background-color: rgb(250, 250, 250);
        position: relative;
        &.dark {
            background-color: rgba(0, 0, 0, .5);
            .board__label-value {
                color:#fff
            }
        }
        &.marked {
            box-shadow: inset 2px 2px 9px 9px rgba(100, 100, 100, .6);
            background-color: $avaliable-moves-highlight;
        }
        @for $i from 0 to 10 {
            &.highlighted#{$i} {
                transition: all ;
                transition-delay: $i * 300;
                background-color: $last-move-highlight;
            }
        }
        
        .board__label-value {
            position: absolute;
            z-index: 100;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-size: 1.2rem;
            &.hor {
                bottom: $label-value-indent;
                right: $label-value-indent;
            }
            &.ver {
                left: $label-value-indent;
                top: $label-value-indent;
            }
        } 
    }
}
