@import './assets/scss/variables-mixins.scss';

html {
    height: 100%;
    min-height: 100vh;
    font-size: 14px;
    font-family: $font-main;
    @media (min-width: $tablet) {
        font-size: 16px;
    }
    
}
body {
    height: 100%;
    #root {
        height: 100%;
        min-height: 100vh;
    }
}

.page {
    margin-top: $header-height;
    box-sizing: border-box;
    // min-width: $page-minwidth;
    height: auto;
    min-height: 100vh - $header-height - $footer-height;
    // @media (orientation: landscape) {
       
    //     min-height: 100vh - $header-height - $footer-height;
    // }
    // @media (orientation: portrait), (max-width: 500px), (max-height: 500px) {
    //     height: auto;
    // }
}
