@import './assets/scss/variables-mixins.scss';

html, body {
    font-size: 14px;
    font-family: $font-main;
    @media (min-width: $tablet) {
        font-size: 16px;
    }
    
}

.page {
    margin-top: $header-height;
    box-sizing: border-box;
    min-height: 100vh - $header-height - $footer-height;
}
.new-game {
    grid-area: new;
    $new-game-color: #64b46d;
    height: $preset-game-height;
    color: $new-game-color;
    font-family: $font-main;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0 20px;
    background-color: transparent;
    transition: all .3s;
    border-radius: $border_rad_menu;
    border: 2px solid $new-game-color;
    &:hover {
        background-color: $new-game-color;
        color: #fff;
    }
}
